noderedmqtt.json
[{"id":"a90dc7ce.04e308","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2dc658a.9723528","type":"mqtt in","z":"a90dc7ce.04e308","name":"","topic":"r0704309/measurement","qos":"2","datatype":"auto","broker":"32268a54.9d23ce","x":150,"y":260,"wires":[["7e894a36.cdca0c","3aed87ee.89fe","f9a5d02f.3fdc","e0334292.2b3458"]]},{"id":"e0334292.2b3458","type":"debug","z":"a90dc7ce.04e308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":220,"wires":[]},{"id":"5faf9b98.55e46c","type":"inject","z":"a90dc7ce.04e308","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"r0704309/led","payload":"0","payloadType":"json","x":260,"y":100,"wires":[["d9b28a61.9fb23"]]},{"id":"90da3caa.bc441","type":"inject","z":"a90dc7ce.04e308","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"r0704309/led","payload":"1","payloadType":"json","x":260,"y":160,"wires":[["d9b28a61.9fb23"]]},{"id":"d9b28a61.9fb23","type":"mqtt out","z":"a90dc7ce.04e308","name":"","topic":"r0704309/led","qos":"","retain":"","broker":"32268a54.9d23ce","x":560,"y":160,"wires":[]},{"id":"3088bc4a.621a94","type":"ui_gauge","z":"a90dc7ce.04e308","name":"","group":"21125c50.43e3ac","order":0,"width":"6","height":"6","gtype":"gage","title":"themp","label":"°c","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":260,"wires":[]},{"id":"444c1f64.af0b7","type":"ui_chart","z":"a90dc7ce.04e308","name":"","group":"21125c50.43e3ac","order":1,"width":"6","height":"6","label":"themp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":570,"y":300,"wires":[[]]},{"id":"2bb718dd.f18dc8","type":"ui_text","z":"a90dc7ce.04e308","group":"21125c50.43e3ac","order":2,"width":"6","height":"5","name":"","label":"led","format":"{{msg.payload}}","layout":"col-center","x":410,"y":460,"wires":[]},{"id":"137b10cc.276a37","type":"mqtt in","z":"a90dc7ce.04e308","name":"","topic":"r0704309/led","qos":"2","datatype":"auto","broker":"32268a54.9d23ce","x":150,"y":460,"wires":[["2bb718dd.f18dc8"]]},{"id":"7e894a36.cdca0c","type":"function","z":"a90dc7ce.04e308","name":"","func":"var obj = JSON.parse(msg.payload);\nmsg.payload =  obj[\"temperature\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":260,"wires":[["3088bc4a.621a94","444c1f64.af0b7"]]},{"id":"3aed87ee.89fe","type":"function","z":"a90dc7ce.04e308","name":"","func":"var obj = JSON.parse(msg.payload);\nmsg.payload =  obj[\"humidity\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":340,"wires":[["7092a016.3866d8","5e8471da.83498"]]},{"id":"7092a016.3866d8","type":"ui_gauge","z":"a90dc7ce.04e308","name":"","group":"21125c50.43e3ac","order":0,"width":"6","height":"6","gtype":"gage","title":"hum","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":340,"wires":[]},{"id":"5e8471da.83498","type":"ui_chart","z":"a90dc7ce.04e308","name":"","group":"21125c50.43e3ac","order":1,"width":"6","height":"6","label":"hum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":570,"y":380,"wires":[[]]},{"id":"7d8c16c6.da87f","type":"mqtt out","z":"a90dc7ce.04e308","name":"","topic":"r0704309/led","qos":"","retain":"","broker":"32268a54.9d23ce","x":550,"y":540,"wires":[]},{"id":"fd9914d3.9059e","type":"ui_button","z":"a90dc7ce.04e308","name":"","group":"21125c50.43e3ac","order":5,"width":"3","height":"1","passthru":false,"label":"on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"json","topic":"r0704309/led","topicType":"msg","x":330,"y":540,"wires":[["7d8c16c6.da87f"]]},{"id":"53e328c0.9b2ff8","type":"ui_button","z":"a90dc7ce.04e308","name":"","group":"21125c50.43e3ac","order":5,"width":"3","height":"1","passthru":false,"label":"off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"json","topic":"r0704309/led","topicType":"msg","x":330,"y":580,"wires":[["7d8c16c6.da87f"]]},{"id":"924a7921.4672a8","type":"mqtt out","z":"a90dc7ce.04e308","name":"","topic":"r0704309/led","qos":"","retain":"","broker":"32268a54.9d23ce","x":600,"y":420,"wires":[]},{"id":"f9a5d02f.3fdc","type":"function","z":"a90dc7ce.04e308","name":"","func":"var obj = JSON.parse(msg.payload);\nmsg.payload =  obj[\"pressed\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":420,"wires":[["924a7921.4672a8"]]},{"id":"32268a54.9d23ce","type":"mqtt-broker","name":"","broker":"54.229.150.108","port":"1883","clientid":"r0704309","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"21125c50.43e3ac","type":"ui_group","name":"Default","tab":"467cff5e.b80b5","order":1,"disp":true,"width":"18","collapse":false},{"id":"467cff5e.b80b5","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]